body{
    margin: 0;
    padding: 0;
}

.container{
    width: 60%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px #030303;
}

/* ----------Header Section ----------- */

.bg-red{
    width: 100%;
    height: 10px;
    background-color: #e40707;
}

header{
    width: 80%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* ----------- 1ere Section du header ----------------- */

header > div:first-child{
    grid-column: 1/3;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header > div:first-child > span{
    margin: 1em .7em;
    display: inline-block;
    grid-column: auto;
    font-size: 1.2em;
    color: #e40707;
}

/* ---------- 2eme Section du header ---------------- */

header > div:last-child{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;
    margin-left: 10px;
}

.title{
    display: block;
}

.title > h1{
    font-size: 1.5em;
    font-family: 'Lato',cursive;
    text-transform: lowercase;
    color: #080808ce;
}

header > div:last-child .title{
    grid-column: auto;
}

#underline{
    width: 5em;
    height: 10px;
    background-color: #e40707;
}

header > div:last-child span{
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #e40707;
}

/* --------------Section du tableau ------------- */


table{
    border-collapse: collapse;
}

caption{
    font-size: 2em;
    font-family: 'Lato',sans-serif;
}

thead{
    background-color: #ee0606;
    color: #ffffff;
    position: sticky;
    top: 0;
}

td,th{
    border: 1px solid #080808f1;
    padding: 5px 7px;
    font-family: 'Poppins',sans-serif;
}

td > span{
    text-transform: uppercase;
    font-weight: bold;
}

tbody{
    height: 20vh;
    overflow-y: scroll;
}

tbody > tr:hover{
    background-color: #2e2c2c5e;
}

.table__box{
    width: 80%;
    height: 400px;
    overflow-y: scroll;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    margin-bottom: 2em;
}